@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.App {
  height: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Audio {
  display: none;
}

.Content {
  display: grid;
  grid-template-columns: 366px 357px;
}

.PlayerH {
  display: grid;
  grid-template-rows: 266px 199px;
}

.Player {
  margin: 32px;
}

.Text {
  align-self: center;
  text-align: left;
  margin-top: 20px;
}

.Image {
  height: fit-content;
  width: fit-content;
  border-radius: 6px;
  align-self: center;
}

.buttons {
  align-self: center;
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.buttonsComponent {
  height: 50px;
  width: 50px;
  background-color: #2a2141;
  border: none;
}

.buttonIcons {
  color: #e1e1e6;
  width: 30px;
  height: 30px;
}

.Times {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.time {
  color: #868686;
  align-self: flex-start;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

.upside {
  background-color: #2a2141;
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
}

#PlayerOne {
  /* width: 286px; */
  height: 498px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #2a2141;
  border-radius: 9.6px;
}

#PlayerTwo {
  height: 230px;
  background-color: #2a2141;
  border-radius: 10px;
}

#PlayerThree {
  height: 200px;
  background-color: #2a2141;
  border-radius: 10px;
}

#buttonsTwo {
  margin-top: 10px;
  width: 100%;
}

#ProgressInputTwo {
  width: 235px;
}

#ImageOne {
  margin-top: 40px;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  object-fit: contain;
}

#imageTwo {
  width: 30%;
  height: 30%;
  border-radius: 6px;
  object-fit: contain;
}

#Name {
  margin-bottom: 5px;
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #e1e1e6;
}

#Author {
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #e1e1e6;
}

#playerTwoText {
  width: 150px;
  margin: 0;
  color: #e1e1e6;
  font-family: "Roboto", sans-serif;
}

#NameTwo {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

#AuthorTwo {
  margin: 0;
  margin-top: 5px;
  font-size: 15px;
}

input[type="range"] {
  overflow: hidden;
  width: 210px;
  border-radius: 20px;
  height: 5px;
  appearance: none;
  background-color: #868686;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #d9d9d9;
  margin-top: -1px;
}
input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  width: 0;
  cursor: ew-resize;
  background: #d9d9d9;
  box-shadow: -80px 0 0 80px #d9d9d9;
}

input[type="range"]::-moz-range-progress {
  background-color: #d9d9d9;
  height: 5px;
  border: none;
}

input[type="range"]::-moz-range-track {
  background-color: #868686;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  background-color: #d9d9d9;
  border: none;
  border-radius: 20px;
  width: 0;
}
